.station-details-container {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.station-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.detail {
    display: flex;
    align-items: center;
}

.label {
    font-weight: bold;
    margin-right: 5px;
}

/* Additional Styles for Aesthetic Enhancement */
.station-details-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

span {
    color: #777;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .station-details {
        grid-template-columns: 1fr;
    }
}
